h1.title-1{
    background: lightcoral;
}
.para-1{
    background: lightblue;
}
.w-50{
    width: 50%;
}
p.title-1{
    background: red;
}
.title-1 {
    height: 200px;
}
#title-1 {
    background: green;
}
